registry=https://registry.npm.taobao.org
electron_mirror=https://npm.taobao.org/mirrors/electron/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
puppeteer_download_host=https://npm.taobao.org/mirrors/
puppeteer_download_host=https://npm.taobao.org/mirrors/chromium-browser-snapshots/