registry=https://registry.npm.taobao.org
electron_mirror=https://npm.taobao.org/mirrors/electron/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
SASS_BINARY_SITE=http://npm.taobao.org/mirrors/node-sass
puppeteer_download_host=https://npm.taobao.org/mirrors/
puppeteer_download_host=https://npm.taobao.org/mirrors/chromium-browser-snapshots/
puppeteer_download_host=https://cdn.npm.taobao.org/dist
chromedriver_cdnurl=http://npm.taobao.org/mirrors/chromedriver
PYTHON_MIRROR=http://npm.taobao.org/mirrors/python
profiler_binary_host_mirror=http://npm.taobao.org/mirrors/node-inspector/
SQLITE3_BINARY_SITE=http://npm.taobao.org/mirrors/sqlite3
NVM_NODEJS_ORG_MIRROR=http://npm.taobao.org/mirrors/node
NVMW_NPM_MIRROR=http://npm.taobao.org/mirrors/npm
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs
puppeteer_download_host=https://npm.taobao.org/mirrors/chromium-browser-snapshots/
